body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    padding: 10px;
    border-bottom: 15px ridge purple;
}

.header p {
    font-weight: bold;
    padding-top: 30px;
}

/* Main */
.main {
    text-align: center;
}

.main h2 {
    padding: 10px 0px;
}

.main p {
    padding: 10px 0px;
    margin: 25px 0px;
}

#button {
    color: purple;
    background-color: beige;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}