body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header */

#header {
    border-bottom: 10px ridge purple;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

#header h1 {
    padding: 10px;
}

#header p {
    padding: 25px;
}

/* Intro */

#intro {
    text-align: center;
    margin: 50px 200px;
    padding: 25px;
    border: 5px ridge purple;
}

#startBtn {
    color: purple;
    background-color: beige;
    border: 2px solid black;
    padding: 10px;
    border-radius: 1px;
    font-weight: bold;
}

/* Quiz */

#quiz {
    text-align: center;
    border: 5px ridge purple;
    margin: 50px 200px;
    padding: 25px;
}

#quiz h3 {
    padding: 10px;
}

#quiz button {
    padding: 5px;
    width: 150px;
    margin: 2px;
    border: 2px solid black;
    background-color: beige;
    border-radius: 1px;
}

#timer {
    text-align: center;
}

#highscores {
    text-align: center;
    border: 5px ridge purple;
    margin: 50px 200px;
    padding: 25px;
}